# Environments
venv/
env/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# Local Databases & Scratch
chroma_db/
scratch/
.gemini/

# System Files
.DS_Store
Thumbs.db
